.git/
.gitignore
.vscode/
node_modules/
Dockerfile*
.dockerignore
docker-compose*
README.md
*.log
*.tmp
*.scss
*.sass

dist/
build/
out/

.eslintrc*
.prettierrc*
.prettierignore
# vite.config.ts
# vite.config.js
jsconfig.json
tsconfig.json

.env
.env.local
.env.development
.env.production

coverage/
.nyc_output/