.header {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header__block {
    height: 64px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
}

.header__nav {
  display: flex;
  gap: 48px;
}

.header__btn {
  font-size: 14px;
}

.header__btn:hover {
  font-weight: 600;
}


.header__exit-btn {
  font-weight: 600;
}

